body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

h1 {
    margin-bottom: 0px;
}

.sudoku-grid {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
    justify-content: center;
    align-content: center;
    margin: 20px;
    width: 360px;
    height: 360px;
    font-size: 25px;
    border-top: 4px solid black;
    border-bottom: 4px solid black;
    border-left: 4px solid black;
    border-right: 2px solid black;
    /* box-sizing: border-box; */
}

.sudoku-grid div:nth-child(3n) {
    border-right: 4px solid black;
}
.sudoku-grid div:nth-child(n + 19):nth-child(-n + 27),
.sudoku-grid div:nth-child(n + 46):nth-child(-n + 54) {
    border-bottom: 4px solid black;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    box-sizing: border-box;
}

#controls {
    display: flex;
    gap: 20px;
    margin-top: 10px;
}
